<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        @if (ViewBag.Error != null)

        {
            <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center" role="alert">
                @ViewBag.Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">نمونه کار ها</h5>
                <div class="text-muted float-end primary-font">

                <a class="btn btn-sm btn-outline-primary " href="/admin/work/AddWorkPost">نمونه کار جدید</a>
                <a class="btn btn-sm btn-outline-dark " href="/admin/work/Categories">دسته بندی ها</a>
                </div>
            </div>
            <div class="card-body">
                <div class="card m-1">
                    <h5 class="card-header heading-color">تعداد نمونه کار ها : <strong>@ViewBag.Posts.Count</strong>
                    </h5>
                    <div class="card-body">
                        <div class=" table-responsive text-nowrap">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ردیف</th>
                                        <th>عنوان پست</th>
                                        <th>تصویر اصلی</th>
                                        <th>دسته بندی ها</th>
                                        <th>عمل‌ها</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @{
                                        int count = (ViewBag.PageNum - 1) * 6;
                                    }

                                    @foreach (WorkPost post in ViewBag.Posts)
                                    {
                                        count += 1;
                                        <tr>
                                            <td>@count</td>
                                            <td>@post.Title</td>
                                            <td>
                                                <div class="avatar avatar-xl">
                                                    <img src="@post.mainImg" alt="تصویر اصلی" class="rounded-circle">
                                                </div>
                                            </td>
                                            <td>
                                                @foreach (WorkPC cat in post.Categories)
                                                {
                                                    string tempSpace = " ";
                                                    <span>@cat.WorkCat.WorkCatName @tempSpace</span>
                                                }
                                            </td>
                                            <td>
                                                <p><a class="dropdown-item btn btn-label-dark m-1"
                                                        href="/Works/Details?id=@post.Id">مشاهده</a></p>
                                                <p><a class="dropdown-item btn btn-label-danger m-1" href="/admin/work/delPost?id=@post.Id" onclick="return confirm(`ایا از حذف [@post.Title] اطمینان دارید ؟ اطمینان عمل‌ها غیر قابل بازگشت میباشد.`)">حذف</a></p>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- Basic Pagination -->
                        @* @if (AllPage != 0)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    @{
                                        int temp;
                                    }
                                    @if (pageNum > 1)
                                    {
                                        <li class="page-item first">
                                            <a class="page-link" href="javascript:void(0);"><i
                                                    class="tf-icon bx bx-chevrons-left"></i></a>
                                        </li>
                                    }
                                    @if (pageNum - 1 > 0)
                                    {
                                        temp = pageNum - 1;
                                        <li class="page-item">
                                            <a @onclick="previousPage" class="page-link">@temp</a>
                                        </li>
                                    }
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">@pageNum</a>
                                    </li>
                                    @if (pageNum + 1 <= AllPage)
                                    {
                                        temp = pageNum + 1;
                                        <li class="page-item">
                                            <a @onclick="nextPage" class="page-link">@temp</a>
                                        </li>
                                    }
                                    @if (pageNum != AllPage)
                                    {
                                        <li class="page-item last">
                                            <a class="page-link" href="javascript:void(0);"><i
                                                    class="tf-icon bx bx-chevrons-right"></i></a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        } *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>